{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="mb-4 text-light">
        <p class="h2">Vielen dank, dass Sie sich meine Bewerbung bis hierhin angeschaut haben!</p>
    </div>

    <div class="text-muted mb-4">
        <p class="h4 text-info">Was Sie hier erwartet:</p>
        <ul>
            <li>
                <p class="h5">Eine Responsieve, Intuitive Webseite</p>
            </li>
            <li>
                <p class="h5">Ein aufgeräumter und lesbarer PHP-Source-Code.</p>
            </li>
            <li>
                <p class="h5">Ein einfacherer, privater Chat, den Sie innerhalb der Firma ausprobieren können. (funktioniert natürlich Online (: )</p>
            </li>
        </ul>

    </div>

    <div class="text-muted">
        <p class="h4 text-info">Welchen Sinn verfolgt diese Seite?</p>
        <ul>
            <li>
                <p class="h5">Sie haben die Möglichkeit, meine Skills im voraus einzuschätzen.</p>
            </li>
        </ul>
    </div>
    <div class="text-muted mb-4">
        <p class="h4 text-info">Benutzt diese Webseite Frameworks?</p>
        <p class="h5 text-success">Die kurze Antwort lautet: Ja!
            <br>
            Darunter zählt:
        </p>
        <ul>
            <li>
                <p class="h5">React & Redux, auf dieser Webseite finden sie für den Chat Verwendung.</p>
            </li>
            <li>
                <p class="h5">Mezzio, Es agiert zwischen den requests und responses und sorgt maßgeblich für die Funktion der Webseite.</p>
            </li>
            <li>
                <p class="h5">Bootstrap, Es dient dem Frontend Design.</p>
            </li>
        </ul>
    </div>

    <div class="text-muted mb-4">
        <p class="h4 text-info">Wie viel Zeit wurde dafür benötigt?</p>
        <p class="h5">Ich habe rund 12 Stunden dafür benötigt.</p>
    </div>

    <div class="text-muted mb-4">
        <p class="h4 text-info">Können wir den Source-Code einsehen?</p>
        <p class="h5">Ja, das können Sie, dafür habe ich dieses repository auf Github erstellt: <a href="https://github.com/marcel-maqsood/bewerbung">Das Repository</a></p>
    </div>

    <div class="text-muted ">
        <p class="h5 text-info" id="chatInfo">Einfach einen Raum erstellen oder beitreten... in beiden fällen muss eine ID angegeben werden (max. 12 Zeichen)!</p>
    </div>

    <div id="Chat" class="mt-3 chat"></div>

{% endblock %}
